@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Montserrat', sans-serif;
}

::-webkit-scrollbar {
  width: 20px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #0a192f;
}

::-webkit-scrollbar-thumb {
  background: #013f3c7f;
  border-radius: 10px;
}

i {
  cursor: pointer;
}

i:hover {
  color: #54d6bb;
}

/* loader animation */
.t {
  animation: t 1s infinite;
}

@keyframes t {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0.5;
  }
}


.o {
  animation: o 1s infinite;
}

@keyframes o {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}


.p {
  animation: p 1s infinite;
}

@keyframes p {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
